.header
  .header__bar
    %h1.header__title
      Work Record

.main
  .list
    %ul.list__title
      %li.list__item
        日付
      %li.list__item
        開始時間
      %li.list__item
        終了時間
      %li.list__item
        大分類
      %li.list__item
        中分類
      %li.list__item
        詳細

  .date
    .date__box
      - @records.each do |record|
        .date__item
          = record.date
        .date__item
          = record.start_time
        .date__item
          = record.end_time
        .date__item
          = record.major_class
        .date__item
          = record.middle_class
        .date__item
          = record.small_class 
